# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn

| Data Science Tools |
---------------------
|Jupyter Lab|
|R studio|
|Git|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
a=3
b=4
c=5
print((a*b)+c)

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
m=200
h =m/60

print(h)

3.3333333333333335

#### Objectives:
+ List popular languages for Data Science
+ List Commonly used tools in Datascience
+ Examples of arithemetic expressions

## Author
Shaun